@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-tech: 'Courier New', 'Consolas', monospace;
  --font-serif-sc: 'Noto Serif SC', serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

/* Scanline effect */
.scanline {
  width: 100%;
  height: 100px;
  z-index: 10;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(32, 128, 255, 0.04) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
  pointer-events: none;
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: -100px;
  }
}

/* Scrollbar - Hide */
main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

main {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
